{% extends "portfolio/base.html" %}

{% block title %}My Blog{% endblock %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

{% block content %}
<div class="text-center px-4">
    <h1 class="text-4xl font-bold">
        <span class="text-black">MY</span> <span class="text-yellow-500">BLOG</span>
    </h1>
    <p class="mt-2 text-md font-bold text-yellow-500">
        Welcome to My Blog. I write blogs about Django, AWS Cloud Projects, CI/CD, and Databases.
    </p>
</div>

<!-- Blog Grid Layout -->
<div class="container mx-auto mt-8 px-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for blog in blogs %}
        <div class="bg-[#FFFDD0] text-black rounded-lg overflow-hidden shadow-md hover:shadow-xl flex flex-col h-auto transition-all duration-300">
            <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="w-full h-40 object-cover rounded-t-lg">

            <div class="p-4 flex flex-col flex-grow">
                <h2 class="text-xl font-bold text-black">{{ blog.title }}</h2>
                <p class="text-sm text-gray-700"><i class="far fa-calendar-alt"></i> {{ blog.created_at|date:"F d, Y" }}</p>

                <!-- Truncated Description -->
                <div class="mt-2 text-gray-800 flex-grow">
                    {{ blog.description|safe|striptags|truncatewords:20|cut:"\xa0" }}
                </div>

                <!-- "Read More" Button -->
                <div class="mt-auto">
                    <a href="{% url 'blog_detail' blog.title %}" class="inline-block bg-blue-500 text-white font-bold py-2 px-4 rounded-lg hover:bg-yellow-500 hover:text-black hover:rounded-full transition-all duration-300">
                        Read More
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
{% endblock %}
